body {
    
}

footer {
    position: relative;
    top: 1000px;
}

.card-img-top-1 {
    background-color: #D3D3D3;
    height: 150px;
    margin-bottom: 20px;

}

.btn-primary {
    margin-bottom: 5px;
    width: 40%;
    margin-top: 10px;
}

.card-img-top {
    background-color: #FFFF66;
    height: 150px;
    margin-bottom: 20px;
}

.navigation a{
    border-bottom: 3px solid;
}

.form-group {
    height: 75px;
}

ul.menu {
    list-style-type: none;
    margin: none;
    padding: 0px;
    float: right;
}

li.menu-item {
    display:inline-block;
    padding: 10px;
}