@model AuthenticationBase.Models.Authentication.LocalIdentity

@{
    ViewBag.Title = "";
}

<h2>Profile</h2>

<div>
    <strong>Username</strong>: @Model.Name
</div>
<div>
    <strong>Email</strong>: @Model.Email
</div>