@using Microblogging.Models
@using AuthenticationBase.Models.Authentication

@model IEnumerable<Account>

<html>
<body>
    <div>
    <h3>Results:</h3>
    </div>
    @foreach (var item in Model)  
       {  
           <p>@item.Username</p>
        
     @Html.ActionLink("Follow", "Follow", "Following", new{Id = item.Id}, new { @class="btn btn-primary" }) 
        }
</body>