<!DOCTYPE html>
<html>
    <body>
<form action="/Post/Post" method="post">
    <h3>Find a User:</h3>
        <textarea rows="4" cols="50" name="content"></textarea>
    <input class="btn btn-primary" type="submit" name="post">
</form>
</body>
